<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
        bootstrap="./phpunit-bootstrap.php">

    <testsuites>
        <testsuite name="default">
            <directory>./lib/Bim/</directory>
        </testsuite>
    </testsuites>
</phpunit>
